.header{
    grid-column: 1/3;
    background-color: lightcoral;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
.header img{
    width: 100px;
}
.header__image{
  width: 50px;
  margin-left: 50px;
}
.form{
  width: 200px;
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.form__input{
  border:none;
  height: 25px;
  width: 87%; 
  padding-right: 20px;
}
.form__btn{
  border:none;
  width: 13%;
  font-size: 0;
  background-color:#fff;

}
.form__btn img{
  width: 25px;
}