*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App{
  max-width: 1300px;
  padding: 0 15px;
  margin: 0 auto;
  width: 100%;
}
.app-wrapper{
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 150px 600px 150px;
  grid-gap: 15px;
}

